
html {

    color: #1695A3;
}
body {
    background-color: #fafafa;
}

h1{
  color:  #fafafa;
}
.white-text {
    color: #fafafa !important;
}
#container{
  background-color:#F3FFE2!important;
}

.parallax-container {
    position: relative;
    overflow: hidden;
    height: 85vh;
    background-size: cover;
    background: rgba(250, 250, 250, 0.37);
}
.side-nav a {
    color: #0089ec;
    display: block;
    font-size: 30px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    text-align: center;
    padding: 0 32px;
}


.select-wrapper span.caret {
    color: #ff6d00!important;
    font-size: 20px;

}
/*nav*/
.nav{
    background-color: #225378 !important;
}
.footer{
  background-color:#225378!important;
}

/*button*/
.teal.lighten-1 {
    background-color: #1695A3 !important;
}
a.waves-effect.waves-light.btn-large {
    background-color: #225378;
}
/*icons*/
i.material-icons {
    color: #EB7F00;
}

.present {
    color: #225378;
    text-align: center;
}
.dropdown-content li>span {
    font-size: 16px;
    color: #eb7f00;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}
.show {
    display: flex!important;
        flex-direction: row;
        justify-content:space-around;
}


div#form {
    border-radius: 5px;
    background: #fafafa;
    padding: 5%;
    min-width: 100%;
    box-shadow: 1px 1px 2px 1px #d0d0d0;
}
input.select-dropdown {
    color: #eb7f00;
    font-size:1.5rem!important;

}
.title {
    font-size: 2em;
    text-align: center;
    color: #ff6d00;
    min-height: 5em;
    max-height: 5em;
}
.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-height: 300px;
    min-height:300px;
    min-width:300px;
    max-width:300px;

}
.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: rgba(34, 83, 120, 0.64);
    transition: box-shadow .25s;
    border-radius: 2px;
}
.card-action{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 20px;
    max-height: 300px;
    min-height:300px;
    min-width:300px;
    max-width:300px;

}



ul#slide-out {
    background-color: rgba(245, 245, 245, 0.65);
}






@media (max-width: 800px) {
  .show {
      display: flex!important;
          flex-direction: column;
          justify-content:center;
  }
  .card-action{
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: inherit;
      border-top: 1px solid rgba(160,160,160,0.2);
      padding: 20px;
      min-width:100%!important;


  }
  .card .card-image img {
      display: block;
      border-radius: 2px 2px 0 0;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      min-width:100%!important;



  }

  .card-panel {
    transition: box-shadow .25s;
    padding: 0px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
}
div#form {

    background: #1695a3;

}
input.select-dropdown {
    color: #eee;
    font-size: 1.5em!important;
}


}

@media (max-width: 600px) {

  .parallax {
      position: absolute;
      top: 10%;
      left: 90%;
      /* right: -15px; */
      bottom: 0%;
      z-index: -1;
  }

  }
